@using Petsmart.Models;
@model ThongTinShop
<li>
    <a href="@Model.FacebookURL" target="_blank">
        <i class="fa fa-facebook-official fa-fw fa-lg" style="color:#3B5998"></i> Facebook
    </a>
</li>
<li>
    <a href="@Model.GoogleURL" target="_blank">
        <i class="fa fa-google fa-fw fa-lg" style="color:#DD4B38"></i> Google
    </a>
</li>
