<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Trang tổng quan</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated animated" style="visibility: visible;">
                <div class="my-account">

                    <!--page-title-->
                    <!-- BEGIN DASHBOARD-->
                    <div class="dashboard">
                        <div class="welcome-msg">
                            <p class="hello"><strong>Chào, Nhanh Phạm!</strong></p>
                            <p>Từ trang tổng quan tài khoản của tôi, bạn có thể xem về hoạt động tài khoản gần đây của mình và cập nhật thông tin tài khoản của bạn. Chọn liên kết dưới đây để xem hoặc chỉnh sửa thông tin.</p>
                        </div>
                        <div class="recent-orders">
                            <div class="title-buttons"> <strong>Những đơn đặt hàng gần đây</strong> <a href="#">Xem tất cả</a> </div>
                            <div class="table-responsive">
                                <table class="data-table table-striped" id="my-orders-table">
                                    <colgroup>
                                        <col width="">
                                        <col width="">
                                        <col>
                                        <col width="1">
                                        <col width="1">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                        <tr class="first last">
                                            <th>Đặt hàng # </th>
                                            <th>Ngày</th>
                                            <th>Giao đến</th>
                                            <th><span class="nobr">Tổng chi phí</span></th>
                                            <th>Trạng thái</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="first odd">
                                            <td>12800000002</td>
                                            <td><span class="nobr">5/12/2015</span></td>
                                            <td>Nhanh Phạm</td>
                                            <td><span class="price">403.000VNĐ</span></td>
                                            <td><em>Đang chờ duyệt</em></td>
                                            <td class="a-center last"><span class="nobr"> <a href="#">Xem</a> </span></td>
                                        </tr>
                                        <tr class="even">
                                            <td>12800000001</td>
                                            <td><span class="nobr">5/11/2015</span></td>
                                            <td>Nhanh Phạm</td>
                                            <td><span class="price">506.500VNĐ</span></td>
                                            <td><em>Đang chờ duyệt</em></td>
                                            <td class="a-center last"><span class="nobr"> <a href="#">Xem</a> <span class="separator">|</span> <a href="#" class="link-reorder">Đặt lại</a> </span></td>
                                        </tr>
                                        <tr class="odd">
                                            <td>13100000001</td>
                                            <td><span class="nobr">5/9/2015</span></td>
                                            <td>Nhanh Phạm</td>
                                            <td><span class="price">997.840VNĐ</span></td>
                                            <td><em>Đang chờ duyệt</em></td>
                                            <td class="a-center last"><span class="nobr"> <a href="#">Xem</a> <span class="separator">|</span> <a href="#" class="link-reorder">Đặt lại</a> </span></td>
                                        </tr>
                                        <tr class="even">
                                            <td>12000000002</td>
                                            <td><span class="nobr">4/1/2015</span></td>
                                            <td>Nhanh Phạm</td>
                                            <td><span class="price">60.000VNĐ</span></td>
                                            <td><em>Đang chờ duyệt</em></td>
                                            <td class="a-center last"><span class="nobr"> <a href="#">Xem</a> <span class="separator">|</span> <a href="#" class="link-reorder">Đặt lại</a> </span></td>
                                        </tr>
                                        <tr class="last odd">
                                            <td>12000000001</td>
                                            <td><span class="nobr">4/1/2015</span></td>
                                            <td>Nhanh Phạm</td>
                                            <td><span class="price">208.000VNĐ</span></td>
                                            <td><em>Đang chờ duyệt</em></td>
                                            <td class="a-center last"><span class="nobr"> <a href="#">Xem</a> <span class="separator">|</span> <a href="#" class="link-reorder">Đặt lại</a> </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--table-responsive-->
                        </div>
                        <!--recent-orders-->
                        <div class="box-account">
                            <div class="page-title">
                                <h2>Thông tin tài khoản</h2>
                            </div>
                            <div class="col2-set">
                                <div class="col-1">
                                    <div class="box">
                                        <div class="box-title">
                                            <h5>Thông tin liên lạc</h5>
                                            <a href="#">Cập nhật</a>
                                        </div>
                                        <!--box-title-->
                                        <div class="box-content">
                                            <p>
                                                Nhanh Phạm<br>
                                                nhanh.pham@gmail.com<br>
                                                <a href="#">Thay đổi mật khẩu</a>
                                            </p>
                                        </div>
                                        <!--box-content-->
                                    </div>
                                    <!--box-->
                                </div>
                                <div class="col-2">
                                    <div class="box">
                                        <div class="box-title">
                                            <h5>Bản tin</h5>
                                            <a href="#">Cập nhật</a>
                                        </div>
                                        <!--box-title-->
                                        <div class="box-content">
                                            <p> Hiện tại bạn không đăng ký theo dõi bản tin. </p>
                                        </div>
                                        <!--box-content-->
                                    </div>
                                    <!--box-->
                                </div>
                            </div>
                            <div class="col2-set">
                                <div class="box">
                                    <div class="box-title">
                                        <h4>Sổ địa chỉ</h4>
                                        <a href="#">Quản lý địa chỉ</a>
                                    </div>
                                    <!--box-title-->
                                    <div class="box-content">
                                        <div class="col-1">
                                            <h5>Địa chỉ thanh toán mặc định</h5>
                                            <address>
                                                Nhanh Phạm<br>
                                                Bình Thuận<br>
                                                đảo Phú Quý<br>
                                                Việt Nam<br>
                                                <a href="#">Cập nhật địa chỉ</a>
                                            </address>
                                        </div>
                                        <div class="col-2">
                                            <h5>Địa chỉ giao hàng mặc định</h5>
                                            <address>
                                                Nhanh Phạm<br>
                                                Bình Thuận<br>
                                                đảo Phú Quý<br>
                                                Việt Nam<br>
                                                <a href="#">Cập nhật địa chỉ</a>
                                            </address>
                                        </div>
                                    </div>
                                    <!--box-content-->
                                </div>
                                <!--box-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--col-main col-sm-9 wow bounceInUp animated-->
            <aside class="col-right sidebar col-sm-3 col-xs-12 wow bounceInUp animated animated animated" style="visibility: visible;">
                <div class="block block-account">
                    <div class="block-title"> Tài khoản của tôi </div>
                    <div class="block-content">
                        <ul>
                            <li class="current"><a>Tổng quan tài khoản</a></li>
                            <li><a href="#"><span> Thông tin tài khoản</span></a></li>
                            <li><a href="#"><span> Sổ địa chỉ</span></a></li>
                            <li><a href="#"><span> Đơn đặt hàng</span></a></li>
                            <li><a href="#"><span> Thỏa thuận thanh toán</span></a></li>
                            <li><a href="#"><span> Hồ sơ định kỳ</span></a></li>
                            <li><a href="#"><span> Đánh giá sản phẩm</span></a></li>
                            <li><a href="#"><span> Giỏ hàng tạm</span></a></li>
                            <li><a href="#"><span> Ứng dụng</span></a></li>
                            <li><a href="#"><span> Đăng ký bản tin</span></a></li>
                            <li class="last"><a href="#"><span> Sản phẩm miễn phí</span></a></li>
                        </ul>
                    </div>
                    <!--block-content-->
                </div>
                <!--block block-account-->

                <div class="custom-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="~/Content/user/images/bestseller-banner.png" alt="slide3">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="#">50% OFF</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/user/images/bestseller-banner.png" alt="slide1">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="#">Hot collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="item active">
                                    <img src="~/Content/user/images/bestseller-banner.png" alt="slide2">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="#">Summer collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#" data-slide="next"> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!--col-right sidebar col-sm-3 wow bounceInUp animated-->
        </div>
        <!--row-->
    </div>
    <!--main container-->
</section>