@using Petsmart.Models;
@model List<HangSanXuat>
<div class="side-nav-categories">
    <div class="block-title">Đối tác</div>
    <!-- BEGIN BOX-CATEGORY -->
    <div class="box-content box-category">
        <ul>
            <li>
                @{
                    foreach (var item in Model)
                    {

                        <a class="active" href="@Url.Action("Index","Partners",new { id = @item.MaHangSanXuat })">@item.TenHangSanXuat</a> <span class=""></span>
                    }
                }
                <!--level0-->
            </li>
            <!--level 0-->
        </ul>
    </div>
    <!--box-content box-category-->
</div>