<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Bài viết</h2>
                </div>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-left sidebar col-sm-3 blog-side">
                <div id="secondary" class="widget_wrapper13" role="complementary">
                    <div id="recent-posts-4" class="popular-posts widget widget__sidebar wow bounceInUp animated animated animated" style="visibility: visible;">
                        <h2 class="widget-title">Bài viết phổ biến nhất</h2>
                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                <li>
                                    <figure class="featured-thumb"> <a href="#"> <img src="~/Content/user/images/blog-img.jpg" alt="blog image"> </a> </figure>
                                    <!--featured-thumb-->
                                    <div class="content-info">
                                        <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
                                        <p class="post-meta">
                                            <i class="icon-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">5 tháng 4, 2017</time>
                                            .
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#"> <img src="~/Content/user/images/blog-img.jpg" alt="blog image"> </a> </figure>
                                    <!--featured-thumb-->
                                    <div class="content-info">
                                        <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
                                        <p class="post-meta">
                                            <i class="icon-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">5 tháng 4, 2017</time>
                                            .
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#"> <img src="~/Content/user/images/blog-img.jpg" alt="blog image"> </a> </figure>
                                    <!--featured-thumb-->
                                    <div class="content-info">
                                        <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
                                        <p class="post-meta">
                                            <i class="icon-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">5 tháng 4, 2017</time>
                                            .
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#"> <img src="~/Content/user/images/blog-img.jpg" alt="blog image"> </a> </figure>
                                    <!--featured-thumb-->
                                    <div class="content-info">
                                        <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
                                        <p class="post-meta">
                                            <i class="icon-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">5 tháng 4, 2017</time>
                                            .
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--widget-content-->
                    </div>
                    <div id="categories-2" class="widget widget_categories wow bounceInUp animated animated animated" style="visibility: visible;">
                        <h2 class="widget-title">Thể loại</h2>
                        <div class="content">
                            <ul>
                                <li class="cat-item cat-item-19599"><a href="#">Chó</a></li>
                            </ul>
                            <ul>
                                <li class="cat-item cat-item-19599"><a href="#">Mèo</a></li>
                            </ul>
                            <ul>
                                <li class="cat-item cat-item-19599"><a href="#">Hamster</a></li>
                            </ul>
                            <ul>
                                <li class="cat-item cat-item-19599"><a href="#">Thỏ</a></li>
                            </ul>
                            <ul>
                                <li class="cat-item cat-item-19599"><a href="#">Trang</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- Banner Ad Block -->
                    <div class="custom-slider">
                        <div>
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="~/Content/user/images/blog-banner.png" alt="slide3">
                                        <div class="carousel-caption">
                                            <h3><a title=" Sample Product" href="product-detail.html">Giảm ngay 50%</a></h3>
                                            <p>Phụ kiện cho cún nhân ngày Valentine.</p>
                                            <a class="link" href="#">Mua ngay</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="~/Content/user/images/blog-banner.png" alt="slide1">
                                        <div class="carousel-caption">
                                            <h3><a title=" Sample Product" href="product-detail.html">Sản phẩm mới cho Hamster</a></h3>
                                            <p>Ghé shop ngay để lựa chọn những phụ kiện mới nhất cho các bé Hams nhé.</p>
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img src="~/Content/user/images/blog-banner.png" alt="slide2">
                                        <div class="carousel-caption">
                                            <h3><a title=" Sample Product" href="product-detail.html">Bộ sưu tập hè</a></h3>
                                            <p>Combo phụ kiện ngày hè cho thú cưng đã có tại shop, hãy nhanh chân lên.</p>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Lui</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Tiếp</span> </a>
                            </div>
                        </div>
                    </div>
                    <!-- Banner Text Block -->
                    <div class="text-widget widget widget__sidebar">
                        <h2 class="widget-title">Widget tùy chỉnh</h2>
                        <div class="widget-content">
                            Mauris at blandit erat. Nam vel tortor non quam scelerisque cursus. Praesent nunc vitae magna pellentesque auctor. Quisque id lectus.<br>
                            <br>
                            Massa, eget eleifend tellus. Proin nec ante leo ssim nunc sit amet velit malesuada pharetra. Nulla neque sapien, sollicitudin non ornare quis, malesuada.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-main col-sm-9">
                <div id="main" class="blog-wrapper">
                    <div id="primary" class="site-content">
                        <div id="content" role="main">
                            <article id="post-29" class="blog_entry clearfix wow bounceInUp animated animated animated" style="visibility: visible;">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"> <a href="blog-detail.html" rel="bookmark">LOREM IPSUM DOLOR SIT AMET</a> </h2>
                                        <div class="entry-meta">
                                            <time class="entry-date">5 tháng 4, 2017</time>
                                            .
                                        </div>
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img src="~/Content/user/images/blog-img.jpg" alt="blog-img3"></a></div>
                                    <div class="entry-content">
                                        <p>Fusce ac pharetra urna. Duis non lacus sit amet lacus interdum facilisis sed non est. Ut mi metus, semper eu dictum nec, condimentum sed sapien. Nullam lobortis nunc semper ipsum luctus ut viverra ante eleifend. Nunc pretium velit sed augue luctus accumsan.</p>
                                        <p>Aliquam laoreet consequat malesuada. Integer vitae diam sed dolor euismod laoreet eget ac felis. Donec non erat sed elit bibendum sodales. Donec eu cursus velit. Proin nunc lacus, gravida mollis dictum ut, vulputate eu turpis. Sed felis sapien, commodo in iaculis in, feugiat sed enim. Sed nunc ipsum, fermentum varius dignissim vitae, blandit et ante.Maecenas sagittis, lorem sed congue egestas, lectus purus congue nisl, ac molestie enim ligula nec eros. Sed leo tortor, tincidunt sit amet elementum vel, eleifend at orci. Maecenas ut turpis felis. Donec sit amet quam sem, et aliquet est.</p>
                                        <p>Quisque nisl lectus, accumsan et euismod eu, sollicitudin ac augue. In sit amet urna magna. Curabitur imperdiet urna nec purus egestas eget aliquet purus iaculis. Nunc porttitor blandit imperdiet. Nulla facilisi. Cras odio ipsum, vehicula nec vehicula sed, convallis scelerisque quam. Phasellus ut odio dui, ut fermentum neque.</p>
                                    </div>
                                    <p> <a href="blog-detail.html" class="btn">Đọc tiếp</a> </p>
                                </div>
                            </article>
                            <article id="post-29" class="blog_entry clearfix wow bounceInUp animated animated animated" style="visibility: visible;">
                                <header class="blog_entry-header clearfix">
                                    <h2 class="blog_entry-title"> <a href="blog-detail.html" rel="bookmark">LOREM IPSUM DOLOR SIT AMET</a> </h2>
                                    <div class="entry-meta">
                                        <time class="entry-date">5 tháng 4, 2017</time>
                                        .
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img src="~/Content/user/images/blog-img.jpg" alt="blog-img2"></a></div>
                                    <div class="entry-content">
                                        <p>Fusce ac pharetra urna. Duis non lacus sit amet lacus interdum facilisis sed non est. Ut mi metus, semper eu dictum nec, condimentum sed sapien. Nullam lobortis nunc semper ipsum luctus ut viverra ante eleifend. Nunc pretium velit sed augue luctus accumsan.</p>
                                        <p>Aliquam laoreet consequat malesuada. Integer vitae diam sed dolor euismod laoreet eget ac felis. Donec non erat sed elit bibendum sodales. Donec eu cursus velit. Proin nunc lacus, gravida mollis dictum ut, vulputate eu turpis. Sed felis sapien, commodo in iaculis in, feugiat sed enim. Sed nunc ipsum, fermentum varius dignissim vitae, blandit et ante.Maecenas sagittis, lorem sed congue egestas, lectus purus congue nisl, ac molestie enim ligula nec eros. Sed leo tortor, tincidunt sit amet elementum vel, eleifend at orci. Maecenas ut turpis felis. Donec sit amet quam sem, et aliquet est.</p>
                                    </div>
                                    <p> <a href="blog-detail.html" class="btn">Đọc tiếp</a> </p>
                                </div>
                            </article>
                            <article id="post-29" class="blog_entry clearfix wow bounceInUp animated animated" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">
                                <header class="blog_entry-header clearfix">
                                    <h2 class="blog_entry-title"> <a href="blog-detail.html" rel="bookmark">LOREM IPSUM DOLOR SIT AMET</a> </h2>
                                    <div class="entry-meta">
                                        <time class="entry-date">5 tháng 4, 2017</time>
                                        .
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img src="~/Content/user/images/blog-img.jpg" alt="blog-img1"></a></div>
                                    <div class="entry-content">
                                        <p>Fusce ac pharetra urna. Duis non lacus sit amet lacus interdum facilisis sed non est. Ut mi metus, semper eu dictum nec, condimentum sed sapien. Nullam lobortis nunc semper ipsum luctus ut viverra ante eleifend. Nunc pretium velit sed augue luctus accumsan.</p>
                                        <p>Aliquam laoreet consequat malesuada. Integer vitae diam sed dolor euismod laoreet eget ac felis. Donec non erat sed elit bibendum sodales. Donec eu cursus velit. Proin nunc lacus, gravida mollis dictum ut, vulputate eu turpis. Sed felis sapien, commodo in iaculis in, feugiat sed enim. Sed nunc ipsum, fermentum varius dignissim vitae, blandit et ante.Maecenas sagittis, lorem sed congue egestas, lectus purus congue nisl, ac molestie enim ligula nec eros. Sed leo tortor, tincidunt sit amet elementum vel, eleifend at orci. Maecenas ut turpis felis. Donec sit amet quam sem, et aliquet est.</p>
                                    </div>
                                    <p> <a href="blog-detail.html" class="btn">Đọc tiếp</a> </p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="pager">
                        <div class="pages">
                            <!--<strong></strong>-->
                            <ol class="pagination">
                                <li class="active"><a href="">1</a></li>
                                <li><a class="button" href="blog.html?p=2">2</a></li>
                                <li> <a class="button next i-next" href="blog.html?p=2" title="Next"> » </a> </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!--#main wrapper grid_8-->

            </div>
            <!--col-main col-sm-9-->
        </div>
    </div>
    <!--main-container-->

</div>