@using Petsmart.Models

@{
    foreach (var item in Model)
    {

        <div class="item">
            <div class="pro-img">
                <img src="~/Content/user/images/@item.HinhURL" alt="Retis lapen casen">
                <div class="pro-info">@item.TenSanPham</div>
            </div>
        </div>
    }
}
