<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Đăng Kí Tài Khoản</h2>
                </div>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<div class="main-container col1-layout wow bounceInUp animated animated animated" style="visibility: visible;">

    <div class="main">
        <div class="account-login container">
            <!--page-title-->

            <form action="" method="post" id="login-form">
                <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                <fieldset class="col2-set">
                    <div class="col-2 registered-users">
                        <strong>Thông tin đăng nhập</strong>
                        <div class="content">
                            <ul class="form-list">
                                <li>
                                    <label for="email">Email<em class="required">*</em></label>
                                    <div class="input-box">
                                        <input type="text" name="login[username]" value="" id="email" class="input-text required-entry validate-email" title="Email Address">
                                    </div>
                                </li>
                                <li>
                                    <label for="pass">Mật khẩu<em class="required">*</em></label>
                                    <div class="input-box">
                                        <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password">
                                    </div>
                                </li>
                                <li>
                                    <label for="pass">Nhập lại mật khẩu<em class="required">*</em></label>
                                    <div class="input-box">
                                        <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password">
                                    </div>
                                </li>
                            </ul>
                            <p class="required">* Thông tin bắt buộc</p>
                            <div class="buttons-set">

                                <button type="submit" class="button login" title="Login" name="send" id="send2"><span>Đăng Kí</span></button>

                            </div>
                        </div>
                    </div>
                    <div class="col-2 registered-users">
                        <strong>Thông tin tài khoản</strong>
                        <div class="content">
                            <ul class="form-list">
                                <li>
                                    <label for="email">Họ và tên<em class="required">*</em></label>
                                    <div class="input-box">
                                        <input type="text" name="login[username]" value="" id="email" class="input-text required-entry validate-email" title="Email Address">
                                    </div>
                                </li>
                                <li>
                                    <label for="pass">Địa Chỉ<em class="required">*</em></label>
                                    <div class="input-box">
                                        <textarea rows="8" style="width:540px; height:150px;"></textarea>
                                    </div>
                                </li>
                            </ul>
                            <!--buttons-set-->
                        </div> <!--content-->
                    </div> <!--col-2 registered-users-->
                </fieldset> <!--col2-set-->
            </form>

        </div> <!--account-login-->

    </div><!--main-container-->

</div>