

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Đăng Kí Tài Khoản</h2>
                </div>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<div class="main-container col1-layout wow bounceInUp animated animated animated" style="visibility: visible;">

    <div class="main">
        <div class="account-login container">
            <!--page-title-->

            <form action="" method="post" id="login-form">
                <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                <fieldset class="col2-set">
                        <div class="col-2 registered-users">
                            <strong>Thông tin đăng nhập</strong>
                            <div class="content">
                                <ul class="form-list">
                                    <li>
                                        Tên đăng nhập
                                        <div class="input-box">
                                            <input class="input-text required-entry" required name="TenDangNhap" type="text" value="">
                                        </div>
                                    </li>
                                    <li>
                                        Mật khẩu
                                        <div class="input-box">
                                            <input class="input-text required-entry" required name="MatKhau" type="password" value="">
                                        </div>
                                    </li>
                                    <li>
                                        Xác nhận mật khẩu
                                        <div class="input-box">
                                            <input class="input-text" required name="XacNhanMatKhau" type="password" value="">
                                        </div>
                                    </li>
                                   
                                    </ul>
                                <p class="required">* Thông tin bắt buộc</p>
                                <div class="buttons-set">

                                    <button type="submit" class="button login" title="Đăng nhập" name="send" id="send2"><span>Đăng Kí</span></button>

                                </div>
                            </div>
                        </div>
                        <div class="col-2 registered-users">
                            <strong>Thông tin tài khoản</strong>
                            <div class="content">
                                <ul class="form-list">
                                    <li>
                                        Họ và tên
                                        <div class="input-box">
                                            <input class="input-text required-entry" required name="HovaTen" type="text" value="">
                                        </div>
                                    </li>
                                    <li>
                                        Số điện thoại
                                        <div class="input-box">
                                            <input class="input-text required-entry" required name="SoDienThoai" type="text" value="">
                                        </div>
                                    </li>
                                    <li>
                                        Email
                                        <div class="input-box">
                                            <input class="input-text" required name="Email" type="text" value="">
                                        </div>
                                    </li>
                                    <li>
                                        Địa chỉ
                                        <div class="input-box">
                                            <textarea class="TextArea" required name="DiaChi" style="width:410px; height:110px;"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!--content-->
                        </div> <!--col-2 registered-users-->
                </fieldset> <!--col2-set-->
            </form>
        </div> <!--account-login-->
    </div><!--main-container-->
</div>