<div class="page-heading">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a href="index.html" title="Đến trang chủ">Trang chủ</a> <span>—› </span> </li>
                        <li class="category1599"> <a href="grid.html" title="">Chó</a> <span>—› </span> </li>
                        <li class="category1600"> <a href="grid.html" title="">Chó Nhật</a> <span>—› </span> </li>
                        <li class="category1601"> <strong>Shiba-inu</strong> </li>
                    </ul>
                </div>
                <!--col-xs-12-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <div class="page-title">
        <h2>Kết Quả Tìm Kiếm</h2>
    </div>
</div>

<section class="main-container col2-left-layout bounceInUp animated">


    <!-- For version 1, 2, 3, 8 -->
    <!-- For version 1, 2, 3 -->


    <div class="container">

        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3">
                <div class="pro-coloumn">
                    <article class="col-main">


                        <div class="toolbar">
                            <div class="sorter">
                                <div class="view-mode"> <a href="grid.html" title="Grid" class="button button-grid">&nbsp;</a>&nbsp; <span title="List" class="button button-active button-list">&nbsp;</span>&nbsp; </div>
                            </div>
                            <div id="sort-by">
                                <label class="left">Sắp xếp theo: </label>
                                <ul>
                                    <li>
                                        <a href="#">Vị trí<span class="right-arrow"></span></a>
                                        <ul>
                                            <li><a href="#">Tên</a></li>
                                            <li><a href="#">Giá</a></li>
                                            <li><a href="#">Vị trí</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <a class="button-asc left" href="#" title="Đặt theo chiều giảm dần"><span class="top_arrow"></span></a>
                            </div>
                            <div class="pager">
                                <div id="limiter">
                                    <label>Xem: </label>
                                    <ul>
                                        <li>
                                            <a href="#">15<span class="right-arrow"></span></a>
                                            <ul>
                                                <li><a href="#">20</a></li>
                                                <li><a href="#">30</a></li>
                                                <li><a href="#">35</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pages">
                                    <label>Trang:</label>
                                    <ul class="pagination">
                                        <li><a href="#">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="category-products">
                            <ol class="products-list" id="products-list">
                                <li class="item first">
                                    <div class="product-image"> <a href="product-detail.html" title="HTC Rhyme Sense"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="HTC Rhyme Sense"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="HTC Rhyme Sense">HTC Rhyme Sense</a></h2>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:50%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"> <a href="#/review/product/list/id/167/category/35/">1 Đánh giá</a> <span class="separator">|</span> <a href="#review-form">Thêm đánh giá</a> </p>
                                        </div>
                                        <div class="desc std">
                                            <p>
                                                Sed volutpat ac massa eget
                                                lacinia.
                                                Aenean volutpat lacus at dolor blandit
                                            </p>
                                            <p>
                                                Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                                                tincidunt mi. Vivamus dictum nec... <a class="link-learn" title="" href="#">Đọc tiếp</a>
                                            </p>
                                        </div>
                                        <div class="price-box">
                                            <p class="old-price"> <span class="price-label"></span> <span id="old-price-212" class="price"> 599.000VNĐ </span> </p>
                                            <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price"> 499.000VNĐ </span> </p>
                                        </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Thêm vào giỏ" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Thêm vào giỏ tạm" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Thêm vào so sánh" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item even">
                                    <div class="product-image"> <a href="product-detail.html" title="Microsoft Natural Keyboard"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="Microsoft Natural Keyboard"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="Microsoft Natural Keyboard">Microsoft Natural Keyboard</a></h2>
                                        <div class="desc std">
                                            <p>
                                                Sed volutpat ac massa eget
                                                lacinia. Suspendisse non purus semper, tellus vel, tristique urna.
                                                Aenean volutpat lacus at dolor blandit.
                                            </p>
                                            <p>
                                                Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                                                tincidunt mi. Vivamus dignissimm ... <a class="link-learn" title="" href="#">Đọc tiếp</a>
                                            </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-159"> <span class="price">99.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Thêm vào giỏ" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Thêm vào giỏ tạm" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Thêm vào so sánh" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item odd">
                                    <div class="product-image"> <a href="product-detail.html" title="30&quot; Flat-Panel HD Monitor"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="30&quot; Flat-Panel HD Monitor"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="30&quot; Flat-Panel HD Monitor">30" Flat-Panel HD Monitor</a></h2>
                                        <div class="desc std">
                                            Computer games, digital photo
                                            editing and graphic applications will astound you on this huge 30"
                                            flat-panel monitor.
                                            <p>
                                                Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                                                tincidunt mi.
                                            </p>
                                            <p>Phasellus consequat id purus in convallis. Nulla quis... <a class="link-learn" title="" href="#">Đọc tiếp</a></p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-157"> <span class="price">699.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Thêm vào giỏ" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Thêm vào giỏ tạm" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Thêm vào so sánh" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item even">
                                    <div class="product-image"> <a href="product-detail.html" title="19&quot; Widescreen LCD Monitor"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="19&quot; Widescreen LCD Monitor"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="19&quot; Widescreen LCD Monitor">19" Widescreen LCD Monitor</a></h2>
                                        <div class="desc std">
                                            2 ms response time; 10,000:1 contrast ratio; 300 cd/m² brightness; 1440 x 900 maximum resolution; DVI-D and 15-pin D-sub inputs
                                            <p>Phasellus consequat id purus pretium enimnec, tristique... <a class="link-learn" title="" href="#">Đọc tiếp</a> </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-156"> <span class="price">399.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Thêm vào giỏ" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Thêm vào giỏ tạm" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Thêm vào so sánh" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item odd">
                                    <div class="product-image"> <a href="product-detail.html" title="Seagate 250GB HD "> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="Seagate 250GB HD "> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="Seagate 250GB HD ">Seagate 250GB HD </a></h2>
                                        <div class="desc std">
                                            1 TB - 7200RPM, SATA 3.0Gb/s, 32MB Cache
                                            <p>Maecenas vehicula volutpat elit, in interdum lacus faucibus sit amet. </p>
                                            <p>
                                                Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                                                tincidunt mi. Vivamus dignissim nisl. Donec eget feugiat ante.
                                                Integerarcu libero, dictum nec congue sed, faucibus ... <a class="link-learn" title="" href="#">Đọc tiếp</a>
                                            </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-155"> <span class="price">99.00VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item even">
                                    <div class="product-image"> <a href="product-detail.html" title="Seagate 500GB HD"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="Seagate 500GB HD"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="Seagate 500GB HD">Seagate 500GB HD</a></h2>
                                        <div class="desc std">
                                            1 TB - 7200RPM, SATA 3.0Gb/s, 32MB Cache
                                            <p>
                                                Aenean volutpat lacus at dolor blandit,
                                                vitae lobortisante semper. Ut
                                                bibendum metusfringilla, in interdum lacus faucibus sit amet.
                                            </p>
                                            <p>
                                                Donec eget feugiat ante.
                                                Integerarcu libero... <a class="link-learn" title="" href="#">Đọc tiếp</a>
                                            </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-154"> <span class="price">299<span class="sub">.000VNĐ</span></span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item odd">
                                    <div class="product-image"> <a href="product-detail.html" title="Intel Core 2 Extreme QX9775"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="Intel Core 2 Extreme QX9775"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="Intel Core 2 Extreme QX9775">Intel Core 2 Extreme QX9775</a></h2>
                                        <div class="desc std">
                                            Intel Core 2 Extreme QX9775
                                            Processor BX80574QX9775 - 45nm, 3.20GHz, 12MB Cache, 1600MHz FSB,
                                            <p>
                                                Vivamus dignissim nisl eu euismod ullamcorper. Donec
                                                pellentesque diam id est tristique vestibulum. Donec eget feugiat ante.
                                                Integerarcu libero, dictum nec congue sed, faucibus sit amet lectus.
                                            </p>
                                            <p>Phasellus consequat... <a class="link-learn" title="" href="#">Đọc tiếp</a> </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-153"> <span class="price">2,049.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item even">
                                    <div class="product-image"> <a href="product-detail.html" title="24&quot; Widescreen LCD Monitor"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="24&quot; Widescreen LCD Monitor"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="24&quot; Widescreen LCD Monitor">24" Widescreen LCD Monitor</a></h2>
                                        <div class="desc std">
                                            5 ms response time; 10,000:1 contrast ratio; 400 cd/m² brightness; 1920 x 1200 maximum resolution; DVI-D and 15-pin D-sub inputs
                                            <p> tellus vel, tristique urna. </p>
                                            <p>
                                                Phasellus consequat id purus in convallis. Nulla quis nunc auctor,
                                                pretium enimnec, tristique magna... <a class="link-learn" title="" href="#">Đọc tiếp</a>
                                            </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-152"> <span class="price">699.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item odd">
                                    <div class="product-image"> <a href="product-detail.html" title="Logitech Optical Trackman"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="Logitech Optical Trackman"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="Logitech Optical Trackman">Logitech Optical Trackman</a></h2>
                                        <div class="desc std">
                                            Our most advanced trackball yet.

                                            Save space and eliminate desktop clutter.
                                            <p>
                                                Donec eget feugiat ante.
                                                Integerarcu libero, dictum nec congue sed, faucibus sit amet lectus.
                                            </p>
                                            <p>
                                                Vivamus vitae arcu faucibus, dictum
                                                magna vel, adipiscing... <a class="link-learn" title="" href="#">Đọc tiếp</a>
                                            </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-160"> <span class="price">79.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item last even">
                                    <div class="product-image"> <a href="product-detail.html" title="Logitech diNovo Edge Keyboard"> <img class="small-image" src="~/Content/user/images/product-img.jpg" alt="Logitech diNovo Edge Keyboard"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="product-detail.html" title="Logitech diNovo Edge Keyboard">Logitech diNovo Edge Keyboard</a></h2>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:80%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"> <a href="#/review/product/list/id/167/category/35/">1 Đánh giá</a> <span class="separator">|</span> <a href="#/review/product/list/id/167/category/35/#review-form">Thêm đánh giá</a> </p>
                                        </div>
                                        <div class="desc std">
                                            Li-Ion powered.
                                            <p>
                                                Sed volutpat ac massa eget lacinia. Suspendisse non purus semper,
                                                vitae lobortisante semper.
                                            </p>
                                            <p>Integerarcu libero, dictum nec congue sed, faucibus sit... <a class="link-learn" title="" href="#">Đọc tiếp</a> </p>
                                        </div>
                                        <div class="price-box"> <span class="regular-price" id="product-price-161"> <span class="price">239.999VNĐ</span> </span> </div>
                                        <div class="actions">
                                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Thêm vào giỏ</span></button>
                                            <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Thêm vào giỏ tạm</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Thêm vào so sánh</span></a> </span>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </article>
                    <!--	///*///======    End article  ========= //*/// -->
                </div>
            </div>

            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated animated" style="visibility: visible;">
                <!-- BEGIN SIDE-NAV-CATEGORY -->
                <div class="side-nav-categories">
                    <div class="block-title"> Thể loại </div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    <div class="box-content box-category">
                        <ul>
                            <li>
                                <a class="active" href="grid.html">Chó</a> <span class="subDropdown minus"></span>
                                <ul class="level0_415" style="display:block">
                                    <li>
                                        <a href="grid.html"> Chó Nhật </a> <span class="subDropdown plus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Cappon Magro</span></a> </li>
                                            <li> <a href="grid.html"><span>Shiba-inu</span></a> </li>
                                            <li> <a href="grid.html"><span>Fattoush</span></a> </li>
                                            <li> <a href="grid.html"><span>Panzanella</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Fruit Salads‎ </a> <span class="subDropdown plus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Candle Salad</span></a> </li>
                                            <li> <a href="grid.html"><span>Frogeye Salad</span></a> </li>
                                            <li> <a href="grid.html"><span>Green Papaya Salad</span></a> </li>
                                            <li> <a href="grid.html"><span>Waldorf salad</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Salad Dressings </a> <span class="subDropdown plus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Louis Dressings</span></a> </li>
                                            <li> <a href="grid.html"><span>French Dressings</span></a> </li>
                                            <li> <a href="grid.html"><span>Gingner Dressings</span></a> </li>
                                            <li> <a href="grid.html"><span>Italian Dressings</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Leaf Vegetable </a> <span class="subDropdown plus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Fenugreek</span></a> </li>
                                            <li> <a href="grid.html"><span>Spinach</span></a> </li>
                                            <li> <a href="grid.html"><span>Malva</span></a> </li>
                                            <li> <a href="grid.html"><span>Cabbage</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                </ul>
                                <!--level0-->
                            </li>
                            <!--level 0-->
                            <li>
                                <a href="grid.html">Mèo</a> <span class="subDropdown plus"></span>
                                <ul class="level0_455" style="display:none">
                                    <li>
                                        <a href="grid.html"> Cold Soups </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Red Bean Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Fruit Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Naengguk</span></a> </li>
                                            <li> <a href="grid.html"><span>Borscht</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Cream Soups  </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Chowder</span></a> </li>
                                            <li> <a href="grid.html"><span>Asparagus Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Broccoli Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Mushroom Soup</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Vegitable Soups </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>French Onion Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Leek Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Minestrone</span></a> </li>
                                            <li> <a href="grid.html"><span>Spring Soup</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Bean Soups </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Bouneschlupp</span></a> </li>
                                            <li> <a href="grid.html"><span>Jókai Bean Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Kwati Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Senate bean</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Bread Soups </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Tomato Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Manchow Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Sweet Corn Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Shorba Soup</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Chinese Soups </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Hot &amp; Sour</span></a> </li>
                                            <li> <a href="grid.html"><span>Noodle Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Corn Crab Soup</span></a> </li>
                                            <li> <a href="grid.html"><span>Sago Soup</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>

                                </ul>
                                <!--level0-->
                            </li>
                            <!--level 0-->
                            <li>
                                <a href="#.html">Hamster</a> <span class="subDropdown plus"></span>
                                <ul class="level0_482" style="display:none">
                                    <li>
                                        <a href="grid.html"> Indian </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Aloo Chaat</span></a> </li>
                                            <li> <a href="grid.html"><span>Batata Vada</span></a> </li>
                                            <li> <a href="grid.html"><span>Kachori</span></a> </li>
                                            <li> <a href="grid.html"><span>Panipuri</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Pizza </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Greek Pizza</span></a> </li>
                                            <li> <a href="grid.html"><span>Pizza Rolls</span></a> </li>
                                            <li> <a href="grid.html"><span>Grilled Pizza</span></a> </li>
                                            <li> <a href="grid.html"><span>Pizza Strips</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> McDonald's </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Kiwiburger</span></a> </li>
                                            <li> <a href="grid.html"><span>Happy Meal</span></a> </li>
                                            <li> <a href="grid.html"><span>McMuffin</span></a> </li>
                                            <li> <a href="grid.html"><span>McGriddles</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Wendy's Foods </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Bacon Deluxe</span></a> </li>
                                            <li> <a href="grid.html"><span>Baconator</span></a> </li>
                                            <li> <a href="grid.html"><span>Frescata</span></a> </li>
                                            <li> <a href="grid.html"><span>Frosty</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Burger King</a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Big King</span></a> </li>
                                            <li> <a href="grid.html"><span>TenderCrisp</span></a> </li>
                                            <li> <a href="grid.html"><span>Whopper</span></a> </li>
                                            <li> <a href="grid.html"><span>Kuro Burger</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                    <li>
                                        <a href="grid.html"> Sandwiches </a> <span class="subDropdown minus"></span>
                                        <ul class="level1" style="display:none">
                                            <li> <a href="grid.html"><span>Hamburgers</span></a> </li>
                                            <li> <a href="grid.html"><span> Hot Dogs‎</span></a> </li>
                                            <li> <a href="grid.html"><span>American Sandwiches</span></a> </li>
                                            <li> <a href="grid.html"><span>Chilean Sandwiches</span></a> </li>
                                        </ul>
                                        <!--level1-->
                                    </li>
                                    <!--level1-->
                                </ul>
                                <!--level0-->
                            </li>
                            <!--level 0-->
                            <li> <a href="grid.html">Thỏ‎</a> </li>
                            <!--level 0-->

                        </ul>
                    </div>
                    <!--box-content box-category-->
                </div>
                <!--side-nav-categories-->
                <div class="block block-layered-nav">
                    <div class="block-title"> Mua sắm </div>
                    <div class="block-content">
                        <p class="block-subtitle">Lựa chọn mua sắm</p>
                        <dl id="narrow-by-list">
                            <dt class="odd">Thể loại</dt>
                            <dd class="odd">
                                <ol>
                                    <li> <a href="#"> Chó <span class="count">(24)</span> </a> </li>
                                    <li> <a href="#"> Mèo <span class="count">(24)</span> </a> </li>
                                    <li> <a href="#"> Hamster <span class="count">(24)</span> </a> </li>
                                    <li> <a href="#"> Thỏ <span class="count">(24)</span> </a> </li>
                                </ol>
                            </dd>
                            <dt class="last odd">Giá</dt>
                            <dd class="last odd">
                                <ol>
                                    <li> <a href="#"> <span class="price">0VNĐ</span> - <span class="price">99.000VNĐ</span> <span class="count">(26)</span> </a> </li>
                                    <li> <a href="#"> <span class="price">100.000VNĐ</span> và cao hơn <span class="count">(3)</span> </a> </li>
                                </ol>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="custom-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item next left">
                                    <img src="~/Content/user/images/ad-banner1.jpg" alt="slide3">
                                    <div class="carousel-caption">
                                        <h3><a title="Sản phẩm mẫu" href="product-detail.html">Giảm ngay 50%</a></h3>
                                        <p>Phụ kiện cho cún nhân ngày Valentine.</p>
                                        <a class="link" href="#">Mua ngay</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/user/images/ad-banner2.jpg" alt="slide1">
                                    <div class="carousel-caption">
                                        <h3><a title="Sản phẩm mẫu" href="product-detail.html">Sản phẩm mới cho Hamster</a></h3>
                                        <p>Ghé shop ngay để lựa chọn những phụ kiện mới nhất cho các bé Hams nhé.</p>
                                    </div>
                                </div>
                                <div class="item active left">
                                    <img src="~/Content/user/images/ad-banner3.jpg" alt="slide2">
                                    <div class="carousel-caption">
                                        <h3><a title="Sản phẩm mẫu" href="product-detail.html">Bộ sưu tập hè</a></h3>
                                        <p>Combo phụ kiện ngày hè cho thú cưng đã có tại shop, hãy nhanh chân lên.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>

                <div class="block block-list block-cart">
                    <div class="block-title"> Giỏ hàng </div>
                    <div class="block-content">
                        <div class="summary">
                            <p class="amount">Đã có <a href="#">1 sản phẩm</a> trong giỏ.</p>
                            <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">299.000VNĐ</span> </p>
                        </div>
                        <div class="ajax-checkout">
                            <button type="button" title="Thanh toán" class="button button-checkout" onclick="#"> <span>Thanh toán</span> </button>
                        </div>
                        <p class="block-subtitle">Những sản phẩm thêm gần đây</p>
                        <ul id="cart-sidebar" class="mini-products-list">
                            <li class="item">
                                <div class="item-inner">
                                    <a href="#" class="product-image"><img src="~/Content/user/images/product-img.jpg" width="80" alt="product"></a>
                                    <div class="product-details">
                                        <div class="access">
                                            <a href="#" class="btn-remove1">Remove</a>
                                            <a href="" title="Chỉnh sửa sản phẩm" class="btn-edit">
                                                <i class="icon-pencil"></i><span class="hidden">Chỉnh sửa sản phẩm</span>
                                            </a>
                                        </div>
                                        <!--access-->

                                        <strong>1</strong> x <span class="price">299.000VNĐ</span>
                                        <p class="product-name"><a href="#">Thức ăn chó 2kg</a></p>
                                    </div>
                                    <!--product-details-bottoms-->
                                </div>
                            </li>
                            <li class="item  last1">
                                <div class="item-inner">
                                    <a href="#" class="product-image"><img src="~/Content/user/images/product-img.jpg" width="80" alt="product"></a>
                                    <div class="product-details">
                                        <div class="access">
                                            <a href="#" class="btn-remove1">Remove</a>
                                            <a href="" title="Chỉnh sửa sản phẩm" class="btn-edit">
                                                <i class="icon-pencil"></i><span class="hidden">Chỉnh sửa sản phẩm</span>
                                            </a>
                                        </div>
                                        <!--access-->

                                        <strong>1</strong> x <span class="price">299.000VNĐ</span>
                                        <p class="product-name"><a href="#">Thức ăn chó 2kg</a></p>
                                    </div>
                                    <!--product-details-bottoms-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block block-compare">
                    <div class="block-title"> So sánh sản phẩm </div>
                    <div class="block-content">
                        <ol id="compare-items">
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 500g</a>
                            </li>
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 1kg</a>
                            </li>
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 2kg</a>
                            </li>
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 4kg</a>
                            </li>
                        </ol>

                        <div class="ajax-checkout">
                            <button type="button" title="So sánh" class="button button-compare" onclick="#"><span>So sánh</span></button>
                            <button class="button button-clear" href="#"><span>Xóa</span></button>
                        </div><!--ajax-checkout-->
                    </div>
                    <!--block-content-->
                </div>
                <!--block block-list block-compare-->


                <div class="block block-poll">
                    <div class="block-title"> Khảo sát </div>
                    <form id="pollForm" action="#" method="post" onsubmit="return validatePollAnswerIsSelected();">
                        <div class="block-content">
                            <p class="block-subtitle">Màu sắc yêu thích của bạn là gì?</p>
                            <ul id="poll-answers">
                                <li class="odd">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_1" value="1">
                                    <span class="label">
                                        <label for="vote_1">Xanh lá</label>
                                    </span>
                                </li>
                                <li class="even">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_2" value="2">
                                    <span class="label">
                                        <label for="vote_2">Đỏ</label>
                                    </span>
                                </li>
                                <li class="odd">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_3" value="3">
                                    <span class="label">
                                        <label for="vote_3">Đen</label>
                                    </span>
                                </li>
                                <li class="last even">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_4" value="4">
                                    <span class="label">
                                        <label for="vote_4">Xanh nước biển</label>
                                    </span>
                                </li>
                            </ul>
                            <div class="actions">
                                <button type="submit" title="Bình chọn" class="button button-vote"><span>Bình chọn</span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="hot-banner"><img src="~/Content/user/images/hot-trends-banner.jpg" alt="banner"></div>
            </aside>
            <!--col-right sidebar-->
        </div> <!--row-->
    </div><!--container-->
</section>